<div class="container-fluid text-center">
    <div class="row">
<!--         <div class="col-12 mb-5 text-uppercase text-mono">

            <a class="m-2" routerLink="editor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Editor</a>
             
             <a class="m-2" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
            
            <a class="m-2" routerLink="privacy" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Privacy</a>
           
            <a class="m-2" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
        </div>
        <div class='mb-5'>
            <share></share>
        </div> -->
        <div class="col-12">
            <hr/>
        </div>
        <div class="col-12 py-3 bg-light" *ngIf="isBrowser">
            <share></share>
        </div>
        <div class="col-12 py-3 bg-light">
            <p class='mb-0'>
                ©{{dateObj | date:'y'}} <span class='text-uppercase'>{{title}}</span>.<br/>
                Made by <a href="https://jugglehead.herokuapp.com" target="_blank" rel="noopener">Jugglehead</a>
            </p>
        </div>
    </div>
    <backtotop></backtotop>
</div>
