<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-4 text-center mx-auto">
            <findcategory></findcategory>
        </div>
        <div class="col-12">
            <h1 class='text-capitalize'>{{fsq.section?.name}} <small class='text-muted d-block'>{{title}}</small></h1>
        </div>
    </div>
    <div class='mx-auto col-12 col-lg-8' *ngIf="errors">
        <error [msg]='errors'></error>
    </div>
    <div class='text-center' *ngIf="loading">
        <loading></loading>
    </div>
    <div class="row g-2 mb-5" results></div>
    <div class="row" *ngIf="isBrowser">
        <div class="col-12 col-lg-8 mx-auto">
            <div app-map [data]='fsq.results'></div>
        </div>
    </div>
    <div class="row g-2 mb-5">
        <div class="col-12">
            <h4 class='text-muted'>
                Related Links
            </h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of fsq.resultsCategories">
            <div class="card mb-2">
                <div class='card-body'>
                    <h5 class="card-title mb-0">
                        <a [routerLink]="['/search']" [queryParams]="{lon:fsq.lon,lat:fsq.lat,c:item.id,n:item.pluralName}" class='stretched-link text-reset'>
                            {{item.pluralName}}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
