<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-4 text-center mx-auto">
            <findcategory></findcategory>
        </div>
        <div class="col-12">
            <h1 class='text-capitalize mb-4'>{{fsq.section?.name}}<br/>
                <small class='text-muted me-3 my-2'>{{title}}</small> 
                <button class='btn btn-sm btn-primary' *ngIf="!loading" (click)='ms.togglefullscreen()' title='View Map'>
                    Map
                </button>
            </h1>
        </div>
    </div>
    <div class='mx-auto col-12 col-lg-8' *ngIf="errors">
        <error [msg]='errors'></error>
    </div>
    <div class='text-center' *ngIf="loading">
        <loading></loading>
    </div>
    <div class="row g-2 mb-5" results></div>
    <div class="row" *ngIf="isBrowser">
        <div class="col-12 mx-auto">
            <div app-map [data]='fsq.results'></div>
        </div>
    </div>
    <global *ngIf="fsq.path == 'global'"></global>
    <div class="row g-2 mb-5" *ngIf="fsq.resultsCategories">
        <div class="col-12">
            <h4 class='text-muted'>
                Related Searches
            </h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of fsq.resultsCategories">
            <div class="card mb-2">
                <div class='card-body'>
                    <h5 class="card-title mb-0">
                        <a [routerLink]="['/search']" [queryParams]="{lon:fsq.lon,lat:fsq.lat,c:item.id,n:item.pluralName}" class='stretched-link text-reset'>
                            {{item.pluralName}}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <getnearby></getnearby>
    <div class='row mb-5' *ngIf="fsq.path == 'search'">
        <div class="col-12 mb-3">
            <hr />
        </div>
        <div class="col-12 text-center">
            <a class='btn btn-primary' [routerLink]="['/global']" [queryParams]="{n:title}">
                Find {{title}} trending globally
            </a>
        </div>
    </div>
    <hr class='mb-5'>
    <div class='mb-5'>
        <search-geonames></search-geonames>
    </div>
</div>
