@import "../node_modules/leaflet/dist/leaflet.css";

.card {
    height: 100%;
    box-shadow: 5px 5px 7px rgb(0 0 0 / 15%);
    transition: .6s;
}

.card:hover {
    box-shadow: 5px 5px 7px rgb(0 0 0 / 25%);
}

.lang-ar {
    direction: rtl;
}

a {
    color: var(--bs-purple);
    text-decoration: none;
}

.btn-primary {
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}

.bg-red {
    background-color: #d63e2a;
}
.bg-darkred {
    background-color: #9f3337;
}
.bg-orange {
    background-color: #f49630;
}
.bg-green {
    background-color: #72b026;
}
.bg-darkgreen {
    background-color: #728224;
}
.bg-blue {
    background-color: #38aadd;
}
.bg-darkblue {
    background-color: #0067a3;
}
.bg-purple {
    background-color: #d152b8;
}
.bg-darkpurple {
    background-color: #5b396b;
}
.bg-cadetblue {
    background-color: #436978;
}

.btn-grey {
    background-color: #7a8083; 
}

.drag-icon {
    cursor: move;
}

.div-icon {
    width: 30px;
    height: 30px;
 //   background-color: darkorchid;
}

.click {
    cursor: pointer;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: var(--bs-gray-dark);
    color: var(--bs-white);
}

@media screen and (max-width: 768px) {

    .form-control-filter {
        max-width: 7.7rem;
    }

}

.clear-end {
    clear: right;
}
