<div class="col-12 text-center text-muted">
    <h4>
        Share this page
    </h4>
</div> 
<div class='d-flex justify-content-center align-items-center'>
    <button class='btn btn-grey mb-auto mx-1' (click)='share("Facebook")'>
        <img src='../../../assets/img/facebook.svg' height=26 alt="facebook">
    </button>
    <button class='btn btn-grey mb-auto  mx-1' (click)='share("Twitter")'>
        <img src='../../../assets/img/twitter.svg' height=26 alt="twitter">
    </button>
    <button class='btn btn-grey mb-auto  mx-1' (click)='share("Linkedin")'>
        <img src='../../../assets/img/linkedin.svg' height=26 alt="linkedin">
    </button>
    <button class='btn btn-grey mb-auto mx-1' (click)='share("Whatsapp")'>
        <img src='../../../assets/img/whatsapp.svg' height=26 alt="whatsapp">
    </button>
    <button class='btn btn-grey mb-auto mx-1' (click)='share("Mail")'>
        <img src='../../../assets/img/mail.svg' height=26 alt="mail">
    </button>
</div>

