<ul class="nav justify-content-center" *ngIf="fsq.path != 'global'">
    <li class="nav-item p-2" *ngFor="let item of fsq.sections" [title]='item.name'>
      <button class='btn btn-primary' (click)="selectSection(item)">
        <img src="../../assets/img/{{item.icon}}.svg" width=40>
      </button>
    </li>
    <li class="nav-item p-2" *ngFor="let item of fsq.searchOptions">
      <button class='btn btn-primary' [title]='item.name' (click)="selectSearch(item)">
        <img src="../../assets/img/{{item.icon}}.svg" width=40>
      </button>
    </li>
  </ul>

  <div *ngIf="fsq.path == 'global'">
    <button class='btn btn-secondary' (click)='findNearme()'>
      Find near me
    </button>
  </div>